
$color-base: #03A9F4;
$color-danger: rgb(95, 95, 95);


.btn {
  @at-root #{&}--success {
    background: $color-base;
    color: white;
    &:active {
      background: $color-base;
    }
  }
  @at-root #{&}--danger {
    background: $color-danger;
    color: white;
    &:active {
      background: rgb(153, 153, 153);
    }
  }
}

.btn--success:disabled {
  background: #63929b;
}

.nav__link {
  @at-root #{&}--active {
    &:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
}
.nav-mobile__link {
  @at-root #{&}--active {
    &:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
}