$color-base: #ffffff;
$color-accent: #00B8D8;
$color-primary: #064789;

// $color-base: #ffffff;
// $color-accent: #00B8D8;
// $color-primary: #000000;


.btn{
    background: rgb(243, 243, 243);
    outline: none;
    color:black;
    border-radius:3px;
    padding:5px 20px;
    font-size: 19px;
    border:0px;
    transition: .1s;
    &:active{
        background:rgb(226, 226, 226);
    }
}

.input{
    padding: 3px 0px;
    outline: none;
    font-size: 18px!important;
    border:0px;
    border-bottom: 2px solid $color-primary!important;
    width: 100%;
    max-width: 500px;
    background: transparent;
}

.input:disabled{
    color:$color-primary;
    border-bottom: 0px !important;
    font-weight: bold;
    font-size: 19px!important;
}

.nav{
    background: $color-base;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    box-shadow: 1px 1px 2px #0000003f;
}

.camp-validate{
    width: 100%;
    display: flex;
    padding:5px 0;
    justify-content: flex-start;
    align-items: center;
    color:red;
}


.container {
    position: relative;
    padding-left: 25px;
    margin-bottom: 2px;
    margin:0px 10px;
    cursor: pointer;
    font-weight: bold;
    color:$color-primary;
    font-size: 19px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 2.6px;
    left: 6px;
    height: 15px;
    width: 15px;
    background-color: #ccc;
    border-radius: 50%;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: rgb(156, 156, 156);
  }

  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: $color-primary;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
       top: 4px;
      left: 4px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: white;
  }
