<div class="align father">

    <div class="grid">
  
      <div class="register">
  
        <h2>Nomad Work</h2>
  
        <form class="form">
  
          <div *ngIf="step1">
            <div class="form__field">
                <input class="input" type="text" [(ngModel)]="email" name="email-login" 
                value="">
              <div class="camp-validate row" *ngIf="formValidateText">
                <div class="col-2">
                  <mat-icon class="mat-validate">warning</mat-icon>
                </div>
                <div class="col-10 text-left">
                  <span>
                    {{ formValidateText }}
                  </span>
                </div>
              </div>
            </div>
            <div class="form__field div-button-login">
              <button class="btn btn--success" (click)="validateEmail()" (keyup.enter)="validateEmail()">Próximo</button>
              
            </div>
  
            <span (click)="newUser()" class="pointer color-base-green">Criar conta?</span>
  
          </div>
  
          <div *ngIf="step2">
            <div class="form__field" (click)="goStepOne()">
              <input disabled="true" class="input-blocked pointer" type="email" placeholder="E-mail" [(ngModel)]="email"
                name="email-login" [class.form-validate]="formValidateText">
            </div>
            <div class="form__field" *ngIf="step2">
              <input type="password" placeholder="Senha" name="password-login" [(ngModel)]="password">
            </div>
            <div class="camp-validate row" *ngIf="formValidateText">
              <div class="col-2">
                <mat-icon class="mat-validate">warning</mat-icon>
              </div>
              <div class="col-10 text-left">
                <span>
                  {{ formValidateText }}
                </span>
              </div>
            </div>
  
            <div class="form__field div-button-login">
              <input (click)="login()" (keyup.enter)="login()" class="formInput pointer" value="Entrar">
            </div>
  
            <span (click)="forgetPassword()" class="pointer color-base-green ">Esqueceu a senha?</span>
  
          </div>
  
        </form>
  
        <div *ngIf="formNewUser">
  
          <form class="form" #userForm="ngForm">
  
            <div class="form__field">
              <input type="text" placeholder="Nome e sobrenome" minlength="6" name="name" #name="ngModel"
                [(ngModel)]="usuario.name" required>
            </div>
            <small class="color-validate d-block mb-2" *ngIf="name.errors?.required && name.touched">
              O nome é obrigatório.
            </small>
            <div class="form__field">
              <input type="email" placeholder="E-mail" name="email" [(ngModel)]="user.email" #email="ngModel" required>
            </div>
            <small class="color-validate d-block mb-2" *ngIf="email.errors?.required && email.touched">
              O email é obrigatório.
            </small>
  
            <div class="form__field">
              <input type="password" placeholder="Senha" name="password" [(ngModel)]="passwordOne" #password="ngModel"
                required minlength="6">
            </div>
            <small class="color-validate d-block mb-2" *ngIf="password.touched && password.errors?.required">
              A senha é obrigatório.
            </small>
            <small class="color-validate d-block mb-2" *ngIf="password.touched && password.errors?.minlength">
              O campo deve ter no mínimo 6 caracteres.
            </small>
  
            <div class="form__field">
              <input type="password" placeholder="Confirmar" name="password-repeat" [(ngModel)]="passwordTwo">
            </div>
            <small class="color-validate d-block mb-2" *ngIf="verifyPassword()">
              As senhas não conferem.
            </small>
  
            <div class="form__field">
              <input type="date" name="birthdate" [(ngModel)]="user.birthdate" required #date="ngModel">
            </div>
            <small class="color-validate d-block mb-2" *ngIf="date.errors?.required && date.touched">
              A data é obrigatória.
            </small>
  
            <div class="form__field">
              <mat-radio-group aria-label="Sexo" [(ngModel)]="user.sex" name="sex" required>
                <mat-radio-button value="Masculino" class="mr-4">Masculino</mat-radio-button>
                <mat-radio-button value="Feminino">Feminino</mat-radio-button>
              </mat-radio-group>
            </div>
  
            <div class="form__field div-button-login">
  
              <button [class.invalid-button]="!userForm.form.valid" [disabled]="!userForm.form.valid && !verifyPassword()"
                [class.button-create]="userForm.form.valid" (click)="register()" (keyup.enter)="register()">
                Cadastrar
              </button>
            </div>
  
          </form>
  
          <div class="mt-2">
            <span (click)="goLogin()" class="pointer color-base-green ">Entrar</span>
          </div>
  
        </div>
  
  
  
      </div>
  
    </div>
  
  </div>