<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<perfect-scrollbar class="align father" [defaultImage]="defaultImage" [lazyLoad]="image">

  <div class="grid">
    <h2 class="title">Nomad Work</h2>

    <div class="register">
      <div [@dash]="stateStep" *ngIf="step">
        <form class="form">
          <div class="login">
            <div class="input-div">
              <h2>E-mail :</h2>
            </div>
            <input #loginEmail class="input" type="text" [(ngModel)]="email" name="email-login" />
            <div class="camp-validate"></div>
            <button class="btn btn--success button-spacing" (click)="validateEmail()" (keyup.enter)="validateEmail()"
              [disabled]="verifyEmailSubmit()">
              Próximo
            </button>
            <span (click)="newUser()" class="link__bottom">Não possui uma conta? Clique aqui</span>
          </div>

          <div class="login">
            <div class="form__field" (click)="goStepOne()">
              <mat-icon class="mat-validate">remove_circle_outline</mat-icon>
              <!-- <input
                disabled="true"
                class="input"
                type="email"
                placeholder="E-mail"
                [(ngModel)]="email"
                name="email-login2"
                [class.form-validate]="formValidateText"
              /> -->
              <h2>{{email}}</h2>
            </div>

            <div class="input-div">
              <h2>Senha:</h2>
            </div>
            <input class="input" type="password" name="password-login" [(ngModel)]="password" />

            <div class="camp-validate" *ngIf="formValidateText">
              <mat-icon class="mat-validate">warning</mat-icon>
              <span>
                {{ formValidateText }}
              </span>
            </div>
            <input (click)="login()" (keyup.enter)="login()" class="btn btn--success button-spacing" type="submit"
              [disabled]="verifyPasswordSubmit()" value="Entrar" />
          </div>
        </form>
      </div>

      <div *ngIf="formNewUser">
        <form class="formRegister" [formGroup]="formRegister" (ngSubmit)="registerSubmit()">
          <div>
            <h2>Nome e Sobrenome:</h2>
            <input class="input" type="text" formControlName="name" />

            <!-- Componente que valida e mostra a mensagem de erro dinamicamente -->
            <app-error-msg [control]="formRegister.get('name')" label="Nome">
            </app-error-msg>
          </div>
          <div>
            <h2>E-mail:</h2>

            <input class="input" type="email" formControlName="email" />

            <!-- Componente que valida e mostra a mensagem de erro dinamicamente -->
            <app-error-msg [control]="formRegister.get('email')" label="E-mail">
            </app-error-msg>
          </div>
          <div>
            <h2>Senha:</h2>

            <input class="input" type="password" formControlName="password" />

            <!-- Componente que valida e mostra a mensagem de erro dinamicamente -->
            <app-error-msg [control]="formRegister.get('password')" label="Senha">
            </app-error-msg>
          </div>
          <div>
            <h2>Confirmar Senha:</h2>

            <input class="input" type="password" formControlName="passwordRepeat" />

            <!-- Componente que valida e mostra a mensagem de erro dinamicamente -->
            <app-error-msg [control]="formRegister.get('passwordRepeat')" label="Confirmar Senha">
            </app-error-msg>
          </div>
          <div>
            <h2>Data de Nascimento:</h2>

            <mat-form-field>
              <input matInput [matDatepicker]="picker" formControlName="dateborn" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <!-- Componente que valida e mostra a mensagem de erro dinamicamente -->
              <app-error-msg [control]="formRegister.get('dateborn')" label="Data">
              </app-error-msg>
            </mat-form-field>
          </div>

          <div>
            <h2>Gênero:</h2>
            <div class="radios">
              <label class="container">Masculino
                <input type="radio" formControlName="gender" value="0" />
                <span class="checkmark"></span>
              </label>
              <label class="container">Feminino
                <input type="radio" formControlName="gender" value="1" />
                <span class="checkmark"></span>
              </label>
              <label class="container">Outro
                <input type="radio" formControlName="gender" value="2" />
                <span class="checkmark"></span>
              </label>
            </div>
          </div>

          <button class="btn btn--success" [disabled]="!formRegister.valid" type="submit">
            Cadastrar
          </button>
        </form>

        <div class="link-entrar">
          <span (click)="goLogin()" class="link__bottom">Entrar</span>
        </div>
      </div>
    </div>
  </div>
</perfect-scrollbar>