$base-bgcolor: #354152;
$base-color: #7e8ba3;
$base-font-weight: 300;
$base-font-size: 1rem;
$base-line-height: 1.5;
$base-font-family: Helvetica Neue;
$base-font-family-fallback: sans-serif;
$base-green-color: #8ceabb;

.logo-login{
  width:89px; 
  height:89px;
  margin-bottom: 5%;
}

.invalid-button {
  background: #3D3B3C ;
  color: gray ;
  border: 1px solid black ;
  outline: 0;
  padding: .5rem 1rem;
  width: 100%;
  border-radius: 999px;
  text-align: center;
  
}

.button-create{
  background-image: linear-gradient(160deg, #8ceabb 0%, #378f7b 100%);
  color: #fff;
  width: 100%;
  outline: 0;
  padding: .5rem 1rem;
  border: 1px solid #8ceabb;
  border-radius: 999px;
  background-color: transparent;
  text-align: center;
}


.logo-name{
  font-style: $base-font-family;
  font-weight: bold;
  color: $base-green-color;

}

.father{
    background-color: rgb(238, 236, 236);
    color: $base-color;
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family, $base-font-family-fallback;
    margin: 0;
    height: 100vh;
}


* {
  box-sizing: border-box;
}

.align {
  align-items: center;
  display: flex;
  flex-direction: row;

  &__item {

    &--start {
      align-self: flex-start;
    }

    &--end {
      align-self: flex-end;
    }

  }

}

.site {

  &__main {
  }

  &__logo {
    margin-bottom: 2rem;
  }

}

$input-placeholder-color: #7e8ba3;

input {
  border: 0;
  font: inherit;

  &::placeholder {
    color: $input-placeholder-color;
  }

}

.form {

  &__field {
    margin-bottom: 1rem;
  }

  input {
    outline: 0;
    padding: .5rem 1rem;

    &[type="email"],
    &[type="text"],
    &[type="date"],
    &[type="password"] {
      width: 100%;
    }

  }

}



$grid-max-width: 25rem;
$grid-width: 100%;

.grid {
  margin: 0 auto;
  max-width: $grid-max-width;
  width: $grid-width;
}

h2 {
  font-size: 2.75rem;
  font-weight: 100;
  margin: 0 0 1rem;
  text-transform: uppercase;
  color: #064789;
}


$link-color: #7e8ba3;

a {
  color: $link-color
}

.formInput{
  background-image: linear-gradient(160deg, #8ceabb 0%, #378f7b 100%);
  color: #fff;
  margin-bottom: 6rem;
  width: 100%;
}

.div-button-login{
  margin-top: 2em;
  margin-bottom: 1em;
}

.register {
  box-shadow: 0 0 20px #064789;
  text-align: center;
  padding: 4rem 2rem;
  border-radius: 20px;
}