// $color-primary: #f3f3f3;
// $color-accent: #00b8d8;
// $color-base: #000000;
$color-primary: #f3f3f3;
$color-accent: #00b8d8;
$color-base: #064789;

.button-spacing {
  margin-top: 1em;
  margin-bottom: 1em;
}

.input-div {
  width: 100%;
  text-align: left;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 290px;
  margin: 0 80px 0 0;
}
.form {
  display: flex;
}

.form__field {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $color-base;
  cursor: pointer !important;
  margin-bottom: 20px !important;
  width: 100%;
  mat-icon {
    margin-right: 5px;
  }
  input {
    cursor: pointer;
  }
}

.father {
  min-height: 100%;
  background: $color-base;
  background: url(http://localhost:3000/files/nomadworkbg2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.nomadworkbg.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='nomadworkbg.jpg', sizingMethod='scale')";
  padding: 20px 0px;
}

* {
  box-sizing: border-box;
}

.align {
  align-items: center;
  display: flex;
  flex-direction: row;
}

$input-placeholder-color: #7e8ba3;
$grid-max-width: 25rem;
$grid-width: 100%;
.grid {
  margin: 0 auto;
  text-align: center;
  max-width: $grid-max-width;
  width: $grid-width;
}

.title {
  font-size: 2.75rem;
  font-weight: 100;
  margin: 0 0 1rem;
  text-transform: uppercase;
  text-shadow: 2px 0 5px $color-base, -2px 0 5px $color-base, 0 2px 5px $color-base, 0 -2px 5px $color-base;
  color: $color-primary;
}

h2 {
  color: $color-base;
}

.formRegister {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & > div {
    width: 100%;
    margin: 0 0 15px 0;
  }
}

.animate {
  width: calc(400px * 2);
  display: flex;
  justify-content: space-between;
}

.error-msg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.register {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.78);
  text-align: left;
  position: relative;
  border-radius: 5px;
  background: $color-primary;
  overflow: hidden;
  padding: 4rem 1rem 0rem 1rem;
}

.radios {
  // text-align: center;
  display: flex;
  justify-content: space-around;
  margin: 0 0 15px 0px;
}

.link-entrar {
  text-align: center;
  width: 100%;
  padding: 10px;
}

.link__bottom {
  padding: 10px;
  cursor: pointer;
  &:hover {
    font-weight: 500;
  }
}


@media (min-width: 374px) {
  .login {
    min-width: 340px;
    margin: 0 35px 0 0;
  }
}

@media (min-width: 376px) {
  .login {
    min-width: 360px;
  }
}


@media (min-width: 420px) {
  .register {
    padding: 4rem 2rem 0rem 2rem;
  }
  .login {
    min-width: 340px;
  }
}
