<span class="register-title" mat-dialog-title>Cadastro de Estabelecimento</span>

<perfect-scrollbar mat-dialog-content style="height: 75vh">
    <form class="registerPlace" [formGroup]="suggestionForm" (ngSubmit)="suggestionSubmit()">
        <div>
            <h2><i class="material-icons">
                    business
                </i>Nome* :</h2>
            <input class="input" type="text" formControlName="name" />
            <app-error-msg [control]="suggestionForm.get('name')" label="Nome">
            </app-error-msg>

        </div>
        <div class="two-fields">
            <div>
                <h2><i class="material-icons">
                        email
                    </i>E-mail:</h2>
                <input class="input" type="text" formControlName="email" />
                <app-error-msg [control]="suggestionForm.get('email')" label="E-mail">
                </app-error-msg>
            </div>
            <div>
                <h2>
                    <i class="material-icons">
                        call
                    </i>Telefone:</h2>
                <input class="input" type="text" formControlName="phone" />
                <app-error-msg [control]="suggestionForm.get('phone')" label="Telefone">
                </app-error-msg>
            </div>
        </div>

        <div>
            <h2>Wifi:</h2>
            <div class="range" formGroupName="wifi">
                <mat-slider class="slide-range" min="0" max="4" step="1" formControlName="rate">
                </mat-slider>
                <i class="material-icons" *ngIf="!suggestionForm.value.wifi.rate; else showWifi" style="color:#838383;">
                    wifi_off
                </i>
                <ng-template #showWifi>
                    <i class="material-icons" style="color:#03a9f4;">
                        wifi
                    </i>
                </ng-template>
            </div>
        </div>
        <div>
            <h2>Ruído:</h2>
            <div class="range" formGroupName="noise">
                <mat-slider class="slide-range" min="0" max="4" step="1" formControlName="rate">
                </mat-slider>
                <i class="material-icons" *ngIf="!suggestionForm.value.noise.rate; else showNoise" style="color:#838383;">
                    voice_over_off
                </i>
                <ng-template #showNoise>
                    <i class="material-icons" style="color:#03a9f4;">
                        record_voice_over
                    </i>
                </ng-template>
            </div>
        </div>
        <div>
            <h2>Tomada:</h2>
            <div class="range" formGroupName="plug">
                <mat-slider class="slide-range" min="0" max="4" step="1" formControlName="rate">
                </mat-slider>
                <i class="material-icons" *ngIf="!suggestionForm.value.plug.rate; else plugOn" style="color:#838383;">
                    power_off
                </i>
                <ng-template #plugOn>
                    <i class="material-icons" style="color:#03a9f4;">
                        power
                    </i>
                </ng-template>

            </div>
        </div>

        <div formGroupName="schedule">
            <div>
                <h2>Horário de abertura:</h2>
                <div class="hour-minute">
                    <mat-form-field>
                        <mat-label>Hora</mat-label>
                        <mat-select formControlName="open">
                            <mat-option *ngFor="let h of hours" [value]="h">
                                {{h}}:00
                            </mat-option>
                        </mat-select>
                        <app-error-msg [control]="suggestionForm.get('schedule.open')" label="Hora">
                        </app-error-msg>
                    </mat-form-field> :
                    <mat-form-field>
                        <mat-label>Minuto</mat-label>
                        <mat-select formControlName="openMinute">
                            <mat-option *ngFor="let m of minutes" [value]="m">
                                {{m}}
                            </mat-option>
                        </mat-select>
                        <app-error-msg [control]="suggestionForm.get('schedule.openMinute')" label="Minuto">
                        </app-error-msg>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <h2>Horário de fechamento:</h2>
                <div class="hour-minute">
                    <mat-form-field>
                        <mat-label>Hora</mat-label>
                        <mat-select formControlName="close">
                            <mat-option *ngFor="let h of hours" [value]="h">
                                {{h}}:00
                            </mat-option>
                        </mat-select>
                        <app-error-msg [control]="suggestionForm.get('schedule.close')" label="Hora">
                        </app-error-msg>
                    </mat-form-field> :
                    <mat-form-field>
                        <mat-label>Minuto</mat-label>
                        <mat-select formControlName="closeMinute">
                            <mat-option *ngFor="let m of minutes" [value]="m">
                                {{m}}
                            </mat-option>
                        </mat-select>
                        <app-error-msg [control]="suggestionForm.get('schedule.closeMinute')" label="Minuto">
                        </app-error-msg>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="submitButton">
            <button class="btn btn--danger" mat-dialog-close>Cancelar</button>
            <button class="btn btn--success" type="submit">Sugerir</button>
        </div>
    </form>
</perfect-scrollbar>