.img-flow {
    height: 450px;
    width: 667px;
    border-radius: 20px;
}

mat-icon {
    font-size: 3em;
    color: #00B8D8;
}

span {
    margin-left: 20px;
    font-size: 1.4em;
}

.title {
    font-size: 2em;
    color: #00B8D8;
}