mat-icon {
  color: #00b8d8;
  font-size: 26px;
  margin: 0 10px 0 0;
}

span {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0 0 0 5px;
}

.infos > div {
  margin: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.swiper-slide {
  width: 100%;
  overflow: hidden !important;
}
.text-center {
  width: 100%;
  max-width: 600px;
  background: blue;
  height: 200px;
  img {
    width: 100%;
    object-fit: contain;
  }
}

.mat-dialog-title {
  margin: 0 !important;
}
