@import "./block/block.scss";
@import "./element/element.scss";
@import "./modifier/modifier.scss";
@import "./infowindow.scss";

h1,
h2,
h3 {
  font-weight: bold;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.3em;
}
h3 {
  font-size: 1.1em;
}

p {
  line-height: 1.52;
}

a {
  text-decoration: none;
  color: initial;
}

button,
input[type="submit"] {
  margin: 5px;
  cursor: pointer;
}
