<div class="loading" *ngIf="isLoading$ | async">
  <mat-spinner> </mat-spinner>
</div>
<div class="homemap">
  <div class="search" style="text-align: center;overflow: hidden;">
    <input placeholder="Pesquisar Local" (blur)="placeSearch($event)" (keyup.enter)="placeSearch($event)" class="input"
      style="width:95%;margin: 5px 0 auto;" type="search" name="searchEstablismment">
    <perfect-scrollbar>

      <ul class="establishmment-list">
        <li *ngFor="let e of establishmments" (click)="selectedEstablismment(e)">
          {{ e.name }}
        </li>
      </ul>

    </perfect-scrollbar>
  </div>
  <div class="map-wrapper">
    <div class="search-mobile" style="text-align: center;overflow: hidden;">
      <input placeholder="Pesquisar Local" (blur)="placeSearch($event)" (keyup.enter)="placeSearch($event)"
        class="input" style="width:95%;margin: 5px 0 auto;" type="search" name="searchEstablismment">
      <perfect-scrollbar>

        <ul class="establishmment-list">
          <li *ngFor="let e of establishmments" (click)="selectedEstablismment(e)">
            {{ e.name }}
          </li>
        </ul>

      </perfect-scrollbar>
    </div>
    <div class="map" leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)"></div>
    <div class="button-wrapper">
      <button class="btn__map" (click)="center()">
        <i class="material-icons">
          my_location
        </i>
      </button>
    </div>
    <button class="btn shadow-btn btn--success" (click)="show()">Sugerir este Local</button>
    <button class="btn shadow-btn btn--success btn-2" (click)="showThisPlace(id)">
      Detalhes local
    </button>
  </div>

  <div class="ad" (click)="bannerAd(2)">
    <div>
      <h1>30%</h1>
      <h3>de desconto</h3>
    </div>
  </div>
</div>