
<div class="loading" *ngIf="isLoading$ | async">
  <mat-spinner> </mat-spinner>
</div>
<div class="homemap">
  <div class="ad"></div>
  <div class="map-wrapper">
    <div class="map" leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)"></div>
    <div class="button-wrapper">
      <button class="btn__map" (click)="center()">
        <i class="material-icons">
          my_location
        </i>
      </button>
    </div>
    <button class="btn" (click)="show()">Sugerir este Local</button>
    <button class="btn btn-2" (click)="showThisPlace(id)">
      Detalhes local
    </button>
  </div>

  <div class="ad"></div>
</div>